body{
    margin:0px;
    font-family:sans-serif;
}
header{
    background-color:rgb(150, 89, 61);
    display:grid;
    grid-template-columns:20% 20% 20% 20%;
    grid-column-gap:10px;
    width:100%;
    justify-content:center;
    margin:0px;
}
 header input,header button{
    display:block;
    padding:10px;
    margin-top:30%;
    transform:translateY(-50%);
    border:2px solid white;
    color:white;
    background-color:transparent;
} 
input::placeholder{
    color:white;
}
header button{
    border:none;
    background-color:rgb(49, 32, 9);
    border-radius: 5px;
    font-size: 20px;
}
.heading{
    width:80%;
    background-color: rgba(206, 195, 195, 0.547);
    padding:3px;
    margin:5% auto;
}
.heading p{
    opacity:0.7;
}
.heading span{
    font-weight:600;
    text-transform:uppercase;
}
.heading h3, .heading p{
    margin-left:3%;
}
.filter-box{
    display:grid;
    grid-template-columns:20% 78%;
    margin:5% 10%;
    grid-gap:2%;
}
.box-left{
    border:1px solid  rgba(206, 195, 195, 0.547);
}
.box-left h3{
    border-bottom:1px solid  rgba(206, 195, 195, 0.547);
}
.box-left h3,.box-left li,.box-left select,.box-left input[type="checkbox"]{
    margin:10px 10px 10px 30px;
    padding:8px;  
}

.box-left span,.box-left input[type="range"]{
    margin:0px;
    margin:0 30px;
    display:inline-block;
    width:80%;
}
.box-left:nth-child(4) div{
    padding:20px 0px;
}

.box-left ul{
    list-style-type:none;
    padding:0px;
}
.box-left:nth-child(2) button{
    display:block;
    margin:20px auto;
    padding:5px 20px;
    border-color:rgb(34, 131, 234);
    background-color:white;
    color:rgb(34, 131, 234);
}
.box-main{
   grid-area:1/2/6/3;
   display:grid;
   grid-template-columns:100%;
   grid-template-rows:100px auto;
   grid-gap:20px;
}
.box-head{
    background-color:rgba(206, 195, 195, 0.547);
    position:relative;
}
.head-left, .head-right{
    position:absolute;
    display:inline-block;
    transform:translateY(-50%);
    padding:10px;
    top:50%;
}
.head-left{
    left:2%;  
}
.head-right{
    right:2%; 
}
.box-head b{
    margin:0px 5px;
}
.head-left select{
    padding:6px;
    border-radius:4px;
}

.box-content{
    display:grid;
    grid-template-columns:32% 32% 32%;
    grid-template-rows:33% 33% 33%;
    grid-gap:2%;
}
/* cards */
.card{
    box-sizing:border-box;
    width:100%;
    border-radius:10px;
    box-shadow:1px 1px 5px 0 rgba(72, 71, 71, 0.68);
    /* height:400px; */
    padding:20px;
    overflow:hidden;
}
.card img{
    display:block;
    width:100%;
    height:200px;
}
.card p{
    text-align:center;
    font-size:1.1rem;
}

.card:hover{
    transform:translate(2px,-2px);
    box-shadow:1px 1px 5px 0 rgb(15, 135, 233);
}
footer{
    position:fixed;
    right:48.5%;
    bottom:20%;
    transform:rotate(-90deg);
    display:inline-block;
    width:100%;
    text-align:center;
}
footer a{
    text-decoration:none;
    color:rgb(233, 78, 7);
}
#min, #max{
    display:block;
    text-align:center;
}
#min::before,#max::before{
    content:"₹";
}


/* media screen 768px */
@media screen and (max-width:992px){
    .box-content{
        grid-template-columns:49% 49%;
        grid-template-rows:300px 300px 300px 300px 300px;
        grid-gap:2%;
    }
    .heading{
        width:96%;
        margin:2% auto;
        padding:10px 0px;
    }
    .filter-box{
        margin:2%;
        grid-template-columns:30% 68%;
        width:96%;
    }
    .box-main{
        margin:0px;
        width:100%;
    }
    .box-left h3{
        margin:10px;
    }
    .card img{
        height:125px;
        width:150px;
        margin:auto;
    }
    .card p{
        margin:10px;
    }
    .box-left h3,.box-left li,.box-left select,.box-left input[type="checkbox"]{
        margin-left:30px;
        padding:8px;  
    }
}
@media screen and (max-width:550px){
    .filter-box{
        display:block;
        text-align:center;
        margin:2px auto;
        width:80%;
    }
    .box-content{
        grid-template-columns:100%;
        grid-gap:20px;
    }
    .heading{
        width:80%;
        text-align:center;
        margin-top:20px;
    }
    
    .card{
        display:grid;
        grid-template-columns:25% 73%;
        grid-gap:2%;
        height:200px;
        margin-bottom:20px;
    }
    .card img{
        grid-area:1/1/4/2;
        height:80px;
        margin-top:35px;
        width:100px;
    }
    .box-content{
        display:block;
    }
    .box-left{
        margin:20px 0px;
    }
}
